In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

import re
from itertools import product, combinations

In [2]:
#data = pd.read_csv('../input/imbd-sf/data.csv')
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
columns_to_split = data.columns[data.apply(lambda x: x.str.contains('|',regex = False).any())]
data[columns_to_split] = data[columns_to_split].applymap(lambda x: x.split('|'))

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
data.original_title.loc[data.budget.idxmax()]

"The Warrior's Way"

In [7]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
data.original_title.loc[data.runtime.idxmax()]

'Gods and Generals'

In [9]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
data.original_title.loc[data.runtime.idxmin()]

'Winnie the Pooh'

In [11]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
round(data.runtime.mean())

110

In [13]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
round(data.runtime.median())

106

In [15]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
data['profit'] = data.revenue - data.budget

In [17]:
data.original_title.loc[data.profit.idxmax()]

'Avatar'

In [18]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [19]:
data.original_title.loc[data.profit.idxmin()]

"The Warrior's Way"

In [20]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [21]:
(data.profit>0).sum()

1478

In [22]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [23]:
data2008 = data[data.release_year == 2008]
data2008.original_title.loc[data2008.profit.idxmax()]

'The Dark Knight'

In [24]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
data2012_2014 = data[data.release_year.isin([2012,2013,2014])]
data2012_2014.original_title.loc[data2012_2014.profit.idxmin()]

'The Lone Ranger'

In [26]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [27]:
total_genres_list = data.genres.sum()

In [28]:
#%%time
pd.Series(total_genres_list).value_counts()[:1]

Drama    782
dtype: int64

In [29]:
#%%time
Counter(total_genres_list).most_common(1) # <------------- побыстрее

[('Drama', 782)]

In [30]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [31]:
profit_movie = data.loc[data.profit> 0]
total_genres_list = profit_movie.genres.sum()
Counter(total_genres_list).most_common(1)[0][0]

'Drama'

In [32]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [33]:
%%time
directors_iter = Counter(data.director.sum())
dir_count = Counter()
for person, director in product(directors_iter,data.director):
    if person in director: dir_count[person] += 1
print(dir_count.most_common(1))

[('Steven Soderbergh', 13)]
Wall time: 376 ms

In [34]:
def groupby_listfeature(df, by):
    result = pd.DataFrame(columns=df.columns)
    next_index = 0
    to_replace = []
    for df_ind in df.index:
        for list_ind, value in enumerate(df[by][df_ind]):
            result.loc[next_index] = df.loc[df_ind]
            next_index = result.index.max()+1
            to_replace.append(value)
    result[by] = to_replace    
    return result.groupby(by)

In [35]:
%%time
groupby_listfeature(data[['director','imdb_id']],'director').count().idxmax()[0]
# А если после стирки не видно разницы, зачем платить больше?

Wall time: 4.69 s

'Steven Soderbergh'

In [36]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [37]:
profit_movie =  data[['director','imdb_id']].loc[data.profit > 0]
groupby_listfeature(profit_movie,'director').count().idxmax()[0] # медленее, зато код короче и читабельнее

'Ridley Scott'

In [38]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [39]:
#data['profit_per_director'] = data.profit/data.director.apply(len)

In [40]:
%%time
directors_iter = Counter(data.director.sum())
profit_count = Counter()
for person in directors_iter:
    profit_count[person] = data.profit.loc[[person in directors for directors in data.director]].sum()   
print(profit_count.most_common(1)[0][0])          # быстрее, много букв

Peter Jackson
Wall time: 521 ms

In [41]:
%%time
print(groupby_listfeature(data[['director','profit']],'director').sum().idxmax()[0]) #медленне, читабельнее

Peter Jackson
Wall time: 4.93 s

In [42]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [43]:
actors = list(Counter(data.cast.sum()))
data['profit_per_actor'] = data.profit/data.cast.apply(len)

In [44]:
%%time
actors_profit = Counter()
for actor in actors:
    actors_profit[actor] = data.profit[[actor in x for x in data.cast]].sum()
print(actors_profit.most_common(1)[0][0])

Emma Watson
Wall time: 2.74 s

In [45]:
%%time
print(groupby_listfeature(data[['cast','profit_per_actor']] ,'cast' ).sum().idxmax()[0])

Emma Watson
Wall time: 22.4 s

In [46]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [47]:
data_2012 = data[data.release_year == 2012]

groupby_listfeature(data_2012[['cast','profit_per_actor']],'cast').sum().idxmin()[0]

'Kirsten Dunst'

In [48]:
data_2012 = data[data.release_year == 2012]

groupby_listfeature(data_2012[['cast','profit']],'cast').sum().idxmin()[0]

'Kirsten Dunst'

In [49]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [50]:
high_budget_data = data[data.budget > data.budget.mean()]

groupby_listfeature(high_budget_data[['cast','imdb_id']],'cast').count().idxmax()[0]

'Matt Damon'

In [51]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [52]:
Counter(data[['Nicolas Cage' in x for x in data.cast]].genres.sum()).most_common(1)[0][0]

'Action'

In [53]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [54]:
Counter((data.production_companies.sum())).most_common(1)[0][0]

'Universal Pictures'

In [55]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [56]:
Counter( data[data.release_year == 2015].production_companies.sum()).most_common(1)[0][0]

'Warner Bros.'

In [57]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [58]:
comedy = data[['Comedy' in x for x in data.genres]]

In [59]:
groupby_listfeature(comedy[['production_companies','profit']] ,'production_companies').sum().idxmax()[0]

'Universal Pictures'

In [60]:
data['profit_per_pc'] = data.profit / data.production_companies.apply(len)
comedy = data[['Comedy' in x for x in data.genres]]

groupby_listfeature(comedy[['production_companies','profit_per_pc']] ,'production_companies').sum().idxmax()[0]

'Walt Disney Pictures'

In [61]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [62]:
groupby_listfeature(data_2012[['production_companies','profit']], 'production_companies').sum().idxmax()[0]

'Columbia Pictures'

In [63]:
data_2012 = data[data.release_year == 2012]

groupby_listfeature(data_2012[['production_companies','profit_per_pc']], 'production_companies').sum().idxmax()[0]

'Columbia Pictures'

In [64]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [65]:
data_ParPic = data[['Paramount Pictures' in x for x in data.production_companies]]
data_ParPic.loc[data_ParPic.profit.idxmin()].original_title

'K-19: The Widowmaker'

In [66]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [67]:
data.groupby('release_year').profit.sum().idxmax()

2015

In [68]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [69]:
data_WarBros = data[[pd.Series(['Warner B' in y for y in x]).any() for x in data.production_companies]]
data_WarBros.groupby('release_year').profit.sum().idxmax()

2014

In [70]:
data_WarBros.groupby('release_year').profit_per_pc.sum().idxmax()

2010

In [71]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [72]:
data['release_month'] = pd.to_datetime(data.release_date).dt.month

data.groupby('release_month').imdb_id.count().idxmax()

9

In [73]:
data.groupby(['release_month','release_year']).imdb_id.count().idxmax() # на всякий случай

(9, 2009)

In [74]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [75]:
data [[x in [6,7,8] for x in data.release_month]].imdb_id.count()

450

In [76]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [77]:
%%time
data_winter = data.query('release_month in [1,2,12]')

Wall time: 15 ms

In [78]:
%%time
data_winter = data [[x in [1,2,12] for x in data.release_month]]

Wall time: 4 ms

In [79]:
groupby_listfeature(data_winter[['director','imdb_id']], 'director').count().idxmax()[0]

'Peter Jackson'

In [80]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [81]:
pivtab_year_month = data.pivot_table('profit', index= 'release_year', columns= 'release_month', aggfunc= sum)
pivtab_year_month.idxmax(axis=1).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [82]:
answer_ls.append(3)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [83]:
gruoppedby_pc = groupby_listfeature(data[['production_companies','original_title']],'production_companies')
gruoppedby_pc.original_title.apply(lambda x: len(x.sum())/x.count()).idxmax()

'Four By Two Productions'

In [84]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [85]:
gruoppedby_pc.original_title.apply(lambda x: 
                                   len(((x+" ").sum()).split(' '))
                                   /x.count()).idxmax()

'Four By Two Productions'

In [86]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [87]:
total_title_list = data.original_title.apply(lambda x: x+' ').sum().lower()

pattern = re.compile('(?![-])\S*')

len(pd.Series(pattern.findall(total_title_list)).unique())

2461

In [88]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [89]:
percent_99 = np.percentile(data.vote_average,99)
data.original_title[data.vote_average > percent_99]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [90]:
data.original_title.loc[data.vote_average.sort_values(ascending = False)[:int(0.01*(len(data)))].index].sort_index()

9                                          Inside Out
28                                          Spotlight
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
177                            The Fault in Our Stars
283                                        Mr. Nobody
370                                         Inception
600                                   The Dark Knight
864             The Lord of the Rings: The Two Towers
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [91]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [92]:
colleagues_count  = Counter()
for cast in data.cast:
    for one, another in list(combinations(cast, 2)):
        colleagues_count[sorted([one,another])[0] +' + ' + sorted([one,another])[1]] += 1
        
colleagues_count.most_common(1)

[('Daniel Radcliffe + Rupert Grint', 8)]

In [93]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [94]:
grouppedby_director = groupby_listfeature(data[['director','profit']],'director')

grouppedby_director.apply(lambda x:(x.profit > 0).sum()/x.profit.count())[
['Quentin Tarantino',
'Steven Soderbergh',
'Robert Rodriguez',
'Christopher Nolan',
'Clint Eastwood']].idxmax()

'Christopher Nolan'

In [95]:
answer_ls.append(4)

# Submission

In [96]:
len(answer_ls)

36

In [97]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       3
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4